.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    transition-duration: 0.1s;
}

.text-animate-hover:hover {
    animation: rubberBand 0.9s;
    color: #ff8c00;
}

@for $i from 1 through 35 {
    .text-animate._#{$i} {
        animation-delay: #{$i/10}s;
    }
}